
<div id="cont_home">
	<div id="text_home">
		<h2>QUEM SOMOS</h2>
		<p>Nós somos uma Empresa que visa o Bem Estar do cliente ao prestar os serviços buscando a melhor qualidade do mercado.</p>
		<p>Tambem prezamos a qualidade de vida dos nossos funcionários para que eles sintam prazer em trabalhar e em fazer o melhor atendimento possível.</p>
		<p>Este site é simplesmente Administrativo, se você ainda não é nosso funcionário, veja o nosso mix de produtos através da nossa loja virtual: <a href="http://www.bemeletronicos.com.br">bemeletronicos.com.br</a>.</p>
		<h3>Sempre visando o seu Bem Estar</h3>
	</div>
</div>

